.embla {
    width: 100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 2rem;
}

.embla__viewport {
    overflow: hidden;
    padding: 25px 0;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    /* flex: 0 0 var(--slide-size); */
    min-width: 0;
    height: 100%;
    padding-left: var(--slide-spacing);
}

.embla__slide__img {
    border-radius: 1.8rem;
    display: block;
    height: var(--slide-height);
    width: 100%;
    object-fit: cover;
}

.embla__controls {
    display: flex;
    grid-template-columns: auto 1fr;
    justify-content: space-between;
    gap: 1.2rem;
    margin-top: 1.8rem;
}

.embla__buttons {
    display: flex;
    justify-content: space-between;
    gap: 0.6rem;
    align-items: center;
}

.embla__button {
    -webkit-tap-highlight-color: rgba(hsl(var(--foreground)), 0.5);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem hsl(var(--foreground));
    width: 3.2rem;
    height: 3.2rem;
    z-index: 1;
    border-radius: 50%;
    color: hsl(var(--foreground));
    display: flex;
    align-items: center;
    justify-content: center;
}

.embla__button:disabled {
    color: hsl(var(--foreground) / 0.1);
}

.embla__button__svg {
    width: 35%;
    height: 35%;
}

.embla__dots {
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
    -webkit-tap-highlight-color: hsl(var(--foreground) / 0.1);
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 2.6rem;
    height: 2.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.embla__dot:after {
    box-shadow: inset 0 0 0 0.1rem hsl(var(--foreground) / 0.1);
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    content: '';
}

.embla__dot--selected:after {
    box-shadow: inset 0 0 0 0.2rem hsl(var(--foreground));
}

.embla__slide {
    transition: 0.4s ease-in-out;
    transition-property: opacity, filter;
}

.embla__slide:not(.is-snapped) {
    opacity: 0.5;
    filter: blur(0.15rem);
}